p {
      color: aliceblue;
}

label {
      color: #fff;
}

p:first-child{
      color: #fbf8cc;
      font-weight: 500;
      letter-spacing: 1px;
      font-style: oblique;
}

.card {
      position: relative;
      background-color: var(--shadow);;
      margin: 25px;
      width: 300px;
      height: 450px;
      border-radius: 15px;
      box-shadow: 5px 5px var(--background);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}



.rotate {
      position: absolute;
      animation: rotation 8s infinite ease;
      top: 5%;
      left: 35%;
}


.data-container {
      position:absolute;
      display: flex;
      flex-direction: column;
      margin-top: 100px;
}

.info-holder {
      border:3px solid #F1FAEE;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
}


@keyframes rotation {
      from {
        transform: rotate(0deg) ;
      }
      to {
        transform: rotate(359deg) ;
      }
    }

   